@mixin _able-player-shadow() {
  .able {
    box-shadow: none !important;
  }
}

@mixin _able-player-status() {
  .able-status {
    font-style: normal !important;
  }
}


@mixin able-player-video() {
  .able-wrapper {
    @include _able-player-shadow();
    @include _able-player-status();

    .able-media-container {
      overflow: hidden !important;
      padding-top: 56.25%  !important;
      position: relative  !important;

      iframe {
        border: 0  !important;
        height: 100%  !important;
        position: absolute  !important;
          top: 0  !important;
          left: 0  !important;
        width: 100%  !important;
      }

      .able-big-play-button {
        display: none !important;
      }
    }

    .able-poster {
      top: unset !important;
    }

    .able-status {
      font-style: normal !important;
    }

    .able-status-bar {
      min-height: 2.25em !important;
    }

    .able-captions {
      font-family: var(--font-primary) !important;
    }

    .able-seekbar-head {
      background-color: var(--color-gold) !important;
    }

    .able-seekbar-played {
      background-color: var(--color-white) !important;
    }

    .able-seekbar{
      background-color: var(--color-black) !important;
      border: none !important;
    }

    .able-seekbar-loaded {
      background-color: var(--color-gray-dark) !important;
    }

    .able-transcript {
      background-color: #000000 !important;
    }

    .able-highlight,
    .able-transcript span:active,
    .able-transcript span:focus,
    .able-transcript span:hover {
      color: #000000 !important;
    }
  }
}

@mixin able-player-audio() {
  @include _able-player-shadow();
  @include _able-player-status();

  .able,
  .able-player,
  .able-controller {
    background-color: transparent !important;
  }

  .able-controller {
    border-bottom: none;
    outline: var(--border-thin) solid var(--color-gray-dark);
  }

  [aria-label="Play"] svg,
  [aria-label="Pause"] svg {
    fill: var(--color-brick) !important;
  }

  [role="button"] svg {
    fill: var(--color-gray-darkest);
  }

  .able-elapsedTime,
  .able-duration,
  .able-status {
    color: var(--color-gray-darkest) !important;
  }

  .able-seekbar-head {
    background-color: var(--color-brick) !important;
  }

  .able-seekbar-played {
    background-color: var(--color-gray-medium) !important;
  }

  .able-seekbar{
    background-color: var(--color-black) !important;
    border: none !important;
  }

  .able-seekbar-loaded {
    background-color: var(--color-gray-darkest) !important;
  }
}
