@mixin primary-nav-item() {
  color: var(--color-white);
  border-bottom: var(--border-thick) solid var(--color-white);
  display: block;
  font-size: var(--font-size-100);
  font-weight: var(--type-weight-bold);
  text-decoration: none;
  padding-top: var(--size-150);
  padding-bottom: var(--size-050);

  @media (min-width: $breakpoint-300) {
    font-size: var(--font-size-100);
  }

  @media (min-width: $breakpoint-300) {
    font-size: var(--font-size-200);

    &:first-of-type {
      margin-left: 0;
    }
  }

  @media (min-width: $breakpoint-500) {
    min-width: 10ch;
  }
}
