.u-color-text-white {
  color: var(--color-white);
}


.u-color-text-black {
  color: var(--color-black);
}


.u-color-text-gray-lightest {
  color: var(--color-gray-lightest);
}


.u-color-text-gray-light {
  color: var(--color-gray-light);
}


.u-color-text-gray-medium {
  color: var(--color-gray-medium);
}


.u-color-text-gray-dark {
  color: var(--color-gray-dark);
}


.u-color-text-gray-darkest {
  color: var(--color-gray-darkest);
}


.u-color-text-gold {
  color: var(--color-gold);

  .js-contrast-blue & {
    color: var(--color-gray-darkest);
  }

  .js-contrast-white &,
  .js-contrast-yellow & {
    color: var(--color-brick);
  }
}


.u-color-text-brick {
  color: var(--color-brick);

  .js-contrast-blue & {
    color: var(--color-gold);
  }
}


.u-color-text-gray-olive {
  color: var(--color-olive);
}


.u-color-text-gray-dusk {
  color: var(--color-dusk);
}
