.color-text-white {
  color: var(--color-white);
}


.color-text-black {
  color: var(--color-black);
}


.color-text-gray-lightest {
  color: var(--color-gray-lightest);
}


.color-text-gray-light {
  color: var(--color-gray-light);
}


.color-text-gray-medium {
  color: var(--color-gray-medium);
}


.color-text-gray-dark {
  color: var(--color-gray-dark);
}


.color-text-gray-darkest {
  color: var(--color-gray-darkest);
}


.color-text-gray-brick {
  color: var(--color-gold);
}


.color-text-gray-brick {
  color: var(--color-brick);
}


.color-text-gray-olive {
  color: var(--color-olive);
}


.color-text-gray-dusk {
  color: var(--color-dusk);
}
