.u-dark-on-light {
  background-color: var(--color-white);
  color: var(--color-black);

  .js-contrast-blue & {
    background-color: var(--color-dusk-tint);
  }

  .js-contrast-yellow & {
    background-color: var(--color-gold);
  }
}
