.c-content {
  // Spacing
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: var(--size-400);
  }

  blockquote,
  dt,
  dd,
  figcaption,
  li,
  p {
    margin-top: var(--size-200);
  }

  // Font Family
  blockquote,
  dt,
  dd,
  figcaption,
  li,
  p {
    font-family: var(--font-tertiary);
  }

  // Lists
  ul,
  ol {
    margin-left: 2ch;
  }
}


.c-content__hero {
  border-top: none;
  margin-top: 0;

  figcaption {
    margin-top: var(--size-150);
  }

  figcaption:empty {
    display: none;
  }
}


.c-content__topic {
  color: var(--color-brick);
  letter-spacing: var(--tracking-open);
  padding-top: var(--size-100);
}


.c-content--project {
  margin-bottom: var(--font-size-900);

  p:first-of-type {
    font-size: var(--font-size-300);
    margin-bottom: var(--size-350);
  }
}
