.c-creator {
  margin-top: var(--size-300);
}


.c-creator__bio {
  display: flex;
  margin-top: var(--size-050);
}


.c-creator__name {
  font-weight: var(--type-weight-regular);
  font-size: var(--size-250);
}


.c-creator__photo {
  background-color: var(--color-gold);
  border-radius: 100%;
  height: var(--size-900);
  width: var(--size-900);
}


.c-creator__excerpt {
  font-size: var(--font-size-200);
  margin-left: var(--size-200);
  max-width: 65ch;
}


.c-creator__read-more {
  color: var(--color-gold);
  font-weight: var(--type-weight-bold);
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: var(--color-gold);
    text-decoration: none;
  }
}
