.c-creator {
  margin-top: var(--size-300);
}


.c-creator__info {
  display: flex;
  margin-top: var(--size-050);
}


.c-creator__name {
  font-weight: var(--type-weight-bold);
  font-size: var(--size-250);
}


.c-creator__name-link {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}


.c-creator__photo {
  background-color: var(--color-gold);
  border-radius: 100%;
  cursor: pointer;
  height: var(--size-900);
  width: var(--size-900);
}


.c-creator__about-this-video {
  color: var(--color-brick);
  font-weight: var(--type-weight-bold);

  .js-contrast-blue & {
    color: var(--color-white);
  }
}


.c-creator__bio {
  font-size: var(--font-size-150);
  margin-left: var(--size-200);
  max-width: 65ch;
}


.c-creator__read-more {
  @include read-more-link();

  color: var(--color-gold);
  display: inline;
  text-underline-offset: 0.3rem;

  &:hover,
  &:focus {
    background-color: var(--color-gold);
    color: var(--color-black);
  }

  .js-contrast-white & {
    color: var(--color-brick);

    &:hover,
    &:focus {
      background-color: var(--color-black);
      color: var(--color-white);
    }
  }

  .js-contrast-yellow & {
    color: var(--color-brick);

    &:hover,
    &:focus {
      background-color: var(--color-black);
    }
  }
}
