.c-creator {
  margin-top: var(--size-300);
}


.c-creator__info {
  margin-top: var(--size-050);
}


.c-creator__name {
  color: var(--color-gold);
  font-weight: var(--type-weight-bold);
  font-size: var(--size-250);

  .js-contrast-blue &,
  .js-contrast-white &,
  .js-contrast-yellow & {
    color: var(--color-brick);
  }
}


.c-creator__name-link {
  color: var(--color-white);
  cursor: pointer;

  &:hover {
    color: var(--color-gold);
    text-decoration: underline;
  }

  .js-contrast-blue &,
  .js-contrast-white &,
  .js-contrast-yellow & {
    color: var(--color-black);
  }
}


.c-creator__photo {
float: left;
shape-outside: circle(50%);
border: var(--size-100) solid var(--color-black);

  background-color: var(--color-gold);
  border-radius: 75%;
  cursor: pointer;
  height: var(--size-950);
  position: relative;
  bottom: var(--size-050);
  width: var(--size-950);

  .js-contrast-blue & {
    border-color: var(--color-dusk-tint);
  }

  .js-contrast-white & {
    border-color: var(--color-white);
  }

  .js-contrast-yellow & {
    background-color: var(--color-white);
    border-color: var(--color-gold);
  }
}


.c-creator__about-this-video {
  color: var(--color-dusk-tint);
  display: block;
  font-weight: var(--type-weight-bold);
  font-size: var(--font-size-250);
  margin-bottom: var(--size-100);

  .js-contrast-blue &,
  .js-contrast-white &,
  .js-contrast-yellow & {
    color: var(--color-brick);
  }
}


.c-creator__bio {
  font-size: var(--font-size-150);
  max-width: 65ch;
}


.c-creator__read-more {
  @include read-more-link();

  color: var(--color-gold);
  display: inline;
  text-underline-offset: 0.3rem;

  &:hover,
  &:focus {
    background-color: var(--color-gold);
    color: var(--color-black);
  }

  .js-contrast-blue & {
    color: var(--color-brick);

    &:hover,
    &:focus {
      background-color: var(--color-black);
      color: var(--color-white);
    }
  }

  .js-contrast-white & {
    color: var(--color-brick);

    &:hover,
    &:focus {
      background-color: var(--color-black);
      color: var(--color-white);
    }
  }

  .js-contrast-yellow & {
    color: var(--color-brick);

    &:hover,
    &:focus {
      background-color: var(--color-black);
      color: var(--color-white);
    }
  }
}
