.c-heading__large,
.c-heading__medium,
.c-heading__small {
  font-family: var(--font-primary);
  line-height: var(--line-height-100);
}


.c-heading__large {
  font-size: var(--font-size-700);
}


.c-heading__medium {
  font-size: var(--font-size-450);

  .js-contrast-blue & {
    color: var(--color-white);
  }
}

.c-heading__small {
  font-size: var(--font-size-300);

  .js-contrast-blue & {
    color: var(--color-white);
  }
}
