.c-heading__large {
  font-family: var(--font-primary);
  font-size: var(--font-size-700);
  line-height: var(--line-height-100);
}


.c-heading__medium {
  font-family: var(--font-primary);
  font-size: var(--font-size-450);
  line-height: var(--line-height-100);

  .js-contrast-blue & {
    color: var(--color-white);
  }
}
