$_mentor-photo-size: 10rem;

.c-mentor {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-areas:
  'photo'
  'content';
  margin-top: var(--size-300);

  @media (min-width: $breakpoint-medium) {
    grid-template-columns: $_mentor-photo-size 1fr;
    grid-template-areas:
      'photo content';
  }
}


.c-mentor__name {
  font-size: var(--size-400);
}


.c-mentor__content {
  grid-area: content;
}


.c-mentor__photo {
  grid-area: photo;
  margin-top: var(--size-500);

  img {
    background-color: var(--color-gold);
    border-radius: 100%;
    height: $_mentor-photo-size;
    width: $_mentor-photo-size;
  }
}


.c-mentor__bio {
  font-family: var(--font-tertiary);
  margin-top: var(--size-050);
}
