.c-nav-primary {
  li {
    list-style-type: none;
    margin-right: var(--size-200);

    a {
      color: var(--color-white);
      border-bottom: var(--border-thick) solid var(--color-white);
      display: block;
      font-size: var(--font-size-300);
      font-weight: var(--type-weight-bold);
      text-decoration: none;
      min-width: 12ch;
      padding-top: var(--size-150);

      &:hover,
      &:focus {
        border-bottom-color: transparent;
      }
    }
  }

  // Projects
  li:nth-of-type(1) {
    a {
      border-bottom-color: var(--color-gold);

      &:hover,
      &:focus {
        border-bottom-color: transparent;
      }
    }
  }

  // About
  li:nth-of-type(2) {
    a {
      border-bottom-color: var(--color-brick);

      &:hover,
      &:focus {
        border-bottom-color: transparent;
      }
    }
  }

  // Filmmakers
  li:nth-of-type(3) {
    a {
      border-bottom-color: var(--color-dusk);

      &:hover,
      &:focus {
        border-bottom-color: transparent;
      }
    }
  }

  // Resources
  li:nth-of-type(4) {
    a {
      border-bottom-color: var(--color-olive);

      &:hover,
      &:focus {
        border-bottom-color: transparent;
      }
    }
  }
}
