.c-partnership {
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-700) {
    align-items: flex-end;
  }
}


.c-partnership__lockup {
  display: flex;
  flex-direction: column;
  margin-top: var(--size-250);
  margin-left: var(--size-200);

  @media (min-width: $breakpoint-700) {
    flex-direction: row;
    margin-top: var(--size-150);
  }
}


.c-partnership__byline {
  font-size: var(--font-size-200);
  line-height: var(--line-height-200);
  margin-right: var(--size-200);
  max-width: 9rem;

  @media (min-width: $breakpoint-700) {
    text-align: right;
  }
}


.c-partnership__logo {
  margin-top: var(--size-150);
  width: 4.5rem;

  @media (min-width: $breakpoint-700) {
    margin-top: 0;
  }
}
