$_person-photo-size: 8rem;


.c-filmmaker__photo,
.c-mentor__photo {
  background-color: var(--color-gold);
  border-radius: 100%;
  grid-column: 1 / 2;
  height: $_person-photo-size;
  min-width: $_person-photo-size;
  width: $_person-photo-size;

  @media (min-width: $breakpoint-400) {
    grid-column: 2 / 3;
    position: relative;
      right: var(--size-400);
  }

  @media (min-width: $breakpoint-700) {
    grid-column: 4 / 5;
  }

  .js-contrast-yellow & {
    background-color: var(--color-brick);
  }
}


.c-filmmaker__photo {
  margin-top: var(--size-400);
}


.c-mentor__photo {
  margin-top: var(--size-400);

  @media (min-width: $breakpoint-400) {
    margin-top: var(--size-900);
  }
}


.c-filmmaker__content,
.c-mentor__content {
  grid-column: 1 / 2;
  margin-top: var(--size-200);

  @media (min-width: $breakpoint-400) {
    grid-column: 3 / 10;
    margin-top: var(--size-700);
  }

  @media (min-width: $breakpoint-700) {
    grid-column: 5 / 10;
  }
}


.c-filmmaker__content {
  margin-top: var(--size-200);
}


.c-mentor__content {
  margin-top: var(--size-200);

  @media (min-width: $breakpoint-400) {
    margin-top: var(--size-700);
  }
}


.c-filmmaker__bio,
.c-mentor__bio {
  p {
    margin-top: var(--size-250);
    max-width: 64ch;

    &:first-of-type {
      margin-top: var(--size-100);;
    }
  }
}


.c-filmmaker__bio {
  font-family: var(--font-primary);
}


.c-mentor__bio {
  font-family: var(--font-tertiary);
}
