.c-search-result {
  max-width: 70ch;
  margin-bottom: var(--size-500);
}


.c-search-result__title {
  color: var(--color-gold);
}


.c-search-result__excerpt {
  margin-top: var(--size-100);
}


.c-search-result__category {
  letter-spacing: var(--tracking-open);
  text-transform: uppercase;

  a {
    color: var(--color-gray-medium);
  }
}
