$_share-icon-size: var(--size-550); // SEE: `.c-tease-project__transcript`


.c-share__facebook,
.c-share__twitter,
.c-share__whatsapp {
  @include button();

  align-items: center;
  display: flex;
  height: $_share-icon-size;
  justify-content: center;
  width: $_share-icon-size;

  &:hover,
  &:focus {
    .c-share__icon {
      fill: var(--color-black);
    }
  }
}

.c-share__icon {
  fill: var(--color-white);
  width: auto;

  .u-dark-on-light & {
    fill: var(--color-black);
  }

  .js-contrast-yellow &,
  .js-contrast-blue & {
    fill: var(--color-black);
  }
}


.c-share__facebook {
  .c-share__icon {
    height: var(--size-250);
  }
}


.c-share__twitter {
  .c-share__icon {
    height: var(--size-250);
  }
}


.c-share__whatsapp {
  .c-share__icon {
    height: var(--size-250);
  }
}
