.c-tease-news {
  background-color: var(--color-white);
  padding: var(--size-400);
}


.c-tease-news__image {
  cursor: pointer;
  transition: var(--transition-short) ease-in-out filter;

  &:hover {
    filter: grayscale(1);
  }
}

.c-tease-news__title {
  margin-top: var(--size-300);
  max-width: 48ch;
}


.c-tease-news__link {
  color: var(--color-black);
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--color-brick);
    text-decoration: underline;
  }
}


.c-tease-news__excerpt {
  font-size: var(--font-size-300);
  margin-top: var(--size-250);
  max-width: 72ch;
}
