.c-tease-news {
  background-color: var(--color-white);
  padding: var(--size-400);
}


.c-tease-news__image {
  cursor: pointer;
  width: 100%;
}


.c-tease-news__title {
  margin-top: var(--size-300);
  max-width: 48ch;
}


.c-tease-news__link {
  color: var(--color-black);
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--color-brick);
    text-decoration: underline;
  }
}


.c-tease-news__excerpt {
  font-size: var(--font-size-200);
  margin-top: var(--size-100);
  max-width: 72ch;

  .more-link {
    display: none;
  }
}


.c-tease-news__read-more {
  @include read-more-link();

  background-color: var(--color-gold);
  color: var(--color-black);
  display: inline-block;
  font-family: var(--font-primary);
  font-size: var(--font-size-200);
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: var(--color-black);
    color: var(--color-gold);
  }
}
