.c-update-banner {
  margin-left: var(--size-400);

  @media (min-width: $breakpoint-medium) {
    margin-left: var(--size-900);
  }
}


.c-update-banner__message {
  font-size: var(--font-size-350);
  font-weight: var(--type-weight-bold);
  margin-top: var(--size-500);
  margin-bottom: var(--size-400);
}
