.c-update-banner {
  grid-column: 1 / 13;
  margin-right: var(--size-200);
  margin-left: var(--size-200);

  @media (min-width: $breakpoint-700) {
    grid-column: 2 / 12;
  }
}


.c-update-banner__message {
  font-size: var(--font-size-350);
  font-weight: var(--type-weight-bold);
  margin-top: var(--size-500);
  margin-bottom: var(--size-400);
}
