.c-update-banner {
  margin-right: var(--size-200);
  margin-left: var(--size-200);

  @media (min-width: $breakpoint-500) {
    @include homepage-inset("margin", "left");
  }
}


.c-update-banner__message {
  font-size: var(--font-size-350);
  font-weight: var(--type-weight-bold);
  margin-top: var(--size-500);
  margin-bottom: var(--size-400);
}
