html {
  background-color: var(--color-black);
  margin: 0;
  min-height: 100%;
  overflow-y: scroll;
  padding: 0;
  text-size-adjust: 100%;

  // Typography
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  font-kerning: normal;
  -moz-font-feature-settings: "kern";
  -ms-font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  font-feature-settings: "kern";

  &:lang(en-US) {
    hyphens: auto;
    word-break: break-word;
  }

  // Supports
  @supports (hanging-punctuation: first) {
    hanging-punctuation: first;
  }

  // Media Queries
  @media screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 2dppx) {
    font-smoothing: subpixel-antialiased;
  }

  // Vendor
  @-ms-viewport {
    width: device-width;
  }
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: HalyardDisplay, Arial, sans-serif;
  font-weight: var(--type-weight-regular);
  font-size: 125%; // 20px on most browsers
  line-height: 1.5;
  min-height: 100%;
}
