a {
  color: var(--color-brick);

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:focus {
    outline: thin dotted;
  }

  .js-highlighted & {
    outline: var(--border-outline) solid var(--color-gold);
  }
}
