a {
  color: #4169e1;

  &:hover,
  &:focus,
  &:active {
    color: #191970;
  }

  &:focus {
    outline: thin dotted;
  }

  .js-highlighted & {
    outline: var(--border-outline) solid var(--color-gold);
  }
}
