:root {
  --border-thin: 1px;
  --border-thick: 3px;
  --color-white: #{$color-white};
  --color-black: #{$color-black};
  --color-gray-lightest: #{$color-gray-lightest};
  --color-gray-light: #{$color-gray-light};
  --color-gray-medium: #{$color-gray-medium};
  --color-gray-dark: #{$color-gray-dark};
  --color-gray-darkest: #{$color-gray-darkest};
  --color-gold: #{$color-gold};
  --color-brick: #{$color-brick};
  --color-olive: #{$color-olive};
  --color-dusk: #{$color-dusk};
  --font-primary: HalyardDisplay, Arial, sans-serif;
  --font-secondary: TimesNewRoman, 'Times New Roman', Times, Georgia, serif;
  --font-size-100: 0.8rem;
  --font-size-200: 0.9rem;
  --font-size-300: 1rem;
  --font-size-400: 1.25rem;
  --font-size-500: 1.5rem;
  --font-size-600: 1.75rem;
  --font-size-700: 2rem;
  --font-size-800: 3rem;
  --line-height-single: 1;
  --line-height-tight: 1.2;
  --line-height-loose: 1.5;
  --line-height-double: 2;
  --size-050: 0.25rem;
  --size-100: 0.5rem;
  --size-150: 0.75rem;
  --size-200: 1rem;
  --size-250: 1.25rem;
  --size-300: 1.5rem;
  --size-350: 1.75rem;
  --size-400: 2rem;
  --size-450: 2.25rem;
  --size-500: 2.5rem;
  --size-550: 2.75rem;
  --size-600: 3rem;
  --size-650: 3.25rem;
  --size-700: 3.5rem;
  --size-750: 3.75rem;
  --size-800: 4rem;
  --size-850: 4.25rem;
  --size-900: 4.5rem;
  --size-950: 4.75rem;
  --transition-short: 150ms;
  --type-weight-regular: 400;
  --type-weight-bold: 600;
}
