.l-about {
  background-color: var(--color-white);
  color: var(--color-black);
  padding-top: 5rem;
  padding-bottom: 12rem;
}

.l-about--dark-on-light {
  background-color: var(--color-black);
  color: var(--color-white);
}


.l-about__content {
  max-width: 52rem;
  margin: 0 auto;
  padding-left: var(--size-200);
  padding-right: var(--size-200);

  h2:first-of-type {
    margin-top: var(--size-900);
  }
}
