.l-contact-form {
  .post-template-template-news & {

  }

  .post-template-default & {
    grid-column: 1 / 3;

    @media (min-width: $breakpoint-400) {
      grid-column: 2 / 12;
    }

    @media (min-width: $breakpoint-700) {
      grid-column: 2 / 12;
    }
  }
}
