.l-footer {
  border-top: var(--border-thin) solid var(--color-gray-light);
  display: flex;
  flex-direction: column;
  padding: var(--size-500) 0 var(--size-400) 0;
  justify-content: space-between;

  @media (min-width: $breakpoint-700) {
    @include grid();

    display: grid;

  }

  .js-contrast-blue &,
  .js-contrast-white &,
  .js-contrast-yellow & {
    background-color: var(--color-black);
    color: var(--color-white);
  }
}


.l-footer__logo {
  height: auto;
  width: 12rem;

  @media (min-width: $breakpoint-700) {
    grid-column: 1 / 3;
  }
}


.l-footer__partnership {
  @media (min-width: $breakpoint-700) {
    grid-column: 3 / 12;
    margin-top: var(--size-250);
  }
}
