.l-header {
  align-items: flex-end;
  border-bottom: var(--border-thin) solid var(--color-gray-light);
  display: flex;
  padding-bottom: 1.5rem;
  padding-right: 1rem;
  justify-content: space-between;
}
