.l-header {
  align-items: flex-end;
  border-bottom: var(--border-thin) solid var(--color-gray-light);
  display: flex;
  padding-bottom: var(--size-300);
  padding-right: var(--size-200);
  justify-content: space-between;
}
