.l-header {
  border-bottom: var(--border-thin) solid var(--color-gray-light);
  display: flex;
  flex-direction: column;
  padding-top: var(--size-150);
  padding-bottom: var(--size-200);

  @media (min-width: $breakpoint-medium) {
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    padding-right: var(--size-200);
    padding-bottom: var(--size-300);
  }
}


.l-header__logo {
  height: auto;
  width: 12rem;
}
