.l-landing {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin: 0 auto;
  padding: 0 var(--size-200) calc(var(--size-900) * 2) var(--size-200);

  @media (min-width: $breakpoint-700) {
    grid-template-columns: repeat(12, 1fr);
    padding-left: 0;
    padding-right: 0;
  }
}


.l-landing__hero {
  margin-bottom: 2.5rem;
  grid-column: 1 / 2;

  @media (min-width: $breakpoint-700) {
    grid-column: 2 / 12;
  }

  img {
    width: 100%;
  }
}


.l-landing__topic {
  border-top: var(--border-thin) solid var(--color-gray-darkest);
  grid-column: 1 / 2;

  @media (min-width: $breakpoint-700) {
    grid-column: 2 / 4;
  }
}


.l-landing__heading {
  grid-column: 1 / 2;
  margin-top: 0;
  padding-top: var(--size-200);

  @media (min-width: $breakpoint-700) {
    grid-column: 5 / 10;
    padding-top: 0;
  }
}

.l-landing__share {
  display: flex;
  gap: var(--size-100);
  grid-column: 1 / 3;
  margin-top: var(--size-300);

  @media (min-width: $breakpoint-700) {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }
}

.l-landing__byline {
  border-top: var(--border-thin) solid var(--color-gray-darkest);
  color: var(--color-gray-darkest);
  font-family: var(--font-primary);
  font-size: var(--font-size-200);
  font-weight: var(--type-weight-bold);
  margin-top: var(--size-300);
  padding-top: var(--size-100);
  grid-column: 1 / 10;

  @media (min-width: $breakpoint-700) {
    grid-column: 2 / 4;
  }

  & ~ .l-landing__share {
    @media (min-width: $breakpoint-700) {
      margin-top: var(--size-950);
    }
  }
}


.l-landing__content {
  max-width: 72ch;

  @media (min-width: $breakpoint-700) {
    grid-column: 5 / 10;
  }
}


.l-landing__section {

  &:nth-of-type(2n) {
    margin-top: var(--size-900);
  }

  @media (min-width: $breakpoint-700) {
    margin-top: var(--size-900);
  }
}
