.l-tease-news {
  background-color: var(--color-gray-lightest);
  color: var(--color-gray-darkest);
  padding: var(--size-600) var(--size-200) var(--size-400) var(--size-200);

  @media (min-width: $breakpoint-300) {
    @include grid-inset("padding", "small");

    display: grid;
    grid-template-columns: 1fr;
    padding-top: var(--size-800);
  }

  @media (min-width: $breakpoint-500) {
    @include grid();

    grid-template-rows: auto;
    padding-left: 0;
    padding-right: 0;
  }
}


.l-tease-news__title {
  line-height: var(--line-height-200);
  grid-column: 2 / 12;
  grid-row: 1 / 2;
}


.l-tease-news__emphasis {
  color: var(--color-brick);
}


.l-tease-news__posts {
  display: grid;
  gap: var(--size-400);
  grid-column: 2 / 12;
  grid-row: 2 / 3;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin-top: var(--size-300);

  @media (min-width: $breakpoint-500) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $breakpoint-800) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
